#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  margin: 0;
  padding: 0;

  /* flex-direction: row; */
  /* text-align: center; */
}
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* app.css */

.app-wrapper {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #232b38;
  color: white;
  padding: 16px;
}

.sidebar .user-info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.sidebar nav .nav-link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: background-color 0.2s;
}

.sidebar nav .nav-link:hover,
.sidebar nav .nav-link.active {
  background-color: #4a5568;
}

.header {
  background-color: #1a202c;
  color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  flex: 1;
}

.dashboard {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
}

.card {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* loader.css */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999; /* Make sure it's on top of other elements */
}

.spinner-container {
  text-align: center;
}

.spinner-text {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
}

.card.clickable {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card.clickable:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: inherit;
}
